/* Estilos generales del panel de administración */
.admin-panel-container {
  margin: 50px 20px 20px;
  padding-bottom: 80px;

}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;

}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.actions .btn {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: none;
  cursor: pointer;
  color: #ad793f;
  font-size: large;
  font-weight: 600;

  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.create-btn {

  margin-left: 20px;
}

.create-btn:hover {
  background-color:#731627;
}

.refresh-btn {

}


.actions .btn.active {
  background-color: #731627;
}


.recetas-table {
  width: calc(100% - 200px);
  margin: 0 100px;
  border-collapse: collapse;
}

.recetas-table th, .recetas-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.recetas-table th {
  background-color: #f2f2f2;
}

.recetas-table img {
  display: block;
  max-width: 100px;
  height: auto;
}

.action-buttons {
  white-space: nowrap;
}

.action-buttons .btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s;
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.categorias-container {
  margin-top: 40px;
}

.categorias-title {
  text-align: center;
  margin-bottom: 10px;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoria-card {
  width: 100px;
  height: 80px;
  background-color: #f2f2f2;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.categoria-card.active {
  background-color: #007bff;
  color: white;
}

.categoria-link {
  text-decoration: none;
  color: inherit;
}

.mostrar-todas {
  width: 100px;
  height: 80px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Modal Background Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Form Wrapper */
.crear-receta-container .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form Title */
.crear-receta-container .title {
  margin-bottom: 20px;
}

/* Form Group */
.crear-receta-container .form-group {
  margin-bottom: 15px;
  width: 100%;
}

/* Form Control */
.crear-receta-container .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Form Actions */
.crear-receta-container .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Button Styles */
.crear-receta-container .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.crear-receta-container .cancel-btn {
  background-color: #f44336;
  color: white;
}

.crear-receta-container .submit-btn {
  background-color: #4caf50;
  color: white;
}

/* Error Text */
.crear-receta-container .error-text {
  color: red;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-number {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-number:hover {
  background-color: #f0f0f0;
}

.page-number.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* Otros estilos existentes */

/* Estilos personalizados para el carrusel */
.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.8); /* Fondo menos transparente */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Asegura que las flechas sean visibles */
}

.carousel .control-arrow:before {
  color: white;
  font-size: 30px;
}

.carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 1); /* Fondo completamente oscuro al pasar el cursor */
}

.carousel-container {
  overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* Elimina el fondo por defecto */
}

.carousel .carousel-image {
  max-height: 150px; /* Ajusta la altura máxima de las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen */
}

.no-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  color: #999;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.imagenes-column {
  max-width: 150px; /* Define el ancho máximo deseado para la columna de imágenes */
}

.carousel-container {
  margin: 0 auto; /* Centra horizontalmente el contenedor del carrusel */
}

.carousel .slide img {
  display: block;
  margin: 0 auto; /* Centra las imágenes dentro de las diapositivas */
}

.carousel .carousel-status {
  display: none; /* Oculta el estado del carrusel (por ejemplo, "1 of 3") */
}
