@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorFondo-primario: #171D2B;
  --colorFondo-secundario: #697185;
  --colorFuente-Gold: #ad793f;
  --colorFuente-bordo: #731627;
  --colorFondo-hueso: #f5ead0;
  --colorBlanco: #fffaff;
  --colorGris-Claro:#D9D9D9;
  --fontGordita: 'Cinzel Decorative', sans-serif;
  --fontMinuscula: 'Della Respira';
  /* #ad793f */
  /* #f5ead0 */
  /* #D9D9D9 */
}

html {
  /* font-size: 62.5%; */
  font-family: var(--fontGordita)
}

.title-card {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.content {
  color: var(--colorFuente-Gold);
  background-color: var(--colorFondo-primario);
  min-height: 100vh;
  padding-top: 85px ;

}
/*ESTILOS HEADER*/
nav {
  width: 100%; /* El navbar ocupa el 100% del ancho de la página */
  height: 85px;
  display: flex;
  position:fixed;
  top: 0;
  justify-content: space-between; /* Alinea elementos a la izquierda y derecha */
  align-items: center; /* Centra verticalmente */
  padding: 15px 20px 10px 10px; /* Relleno */
  background-color: var(--colorBlanco); /* Color de fondo */
  z-index: 1000;
}

.navbar-left {
  text-decoration: none; /* Quita subrayado en enlaces */
  color:var(--colorFondo-secundario);
  display: flex;
  align-items: center; /* Mantiene el logo y el texto en línea */
}

.navbar-right {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}
.nav-list {
  display: contents;
  list-style: none; /* Elimina los puntos predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  text-decoration: none;
}
in
/* Estilos CSS para cada ítem de la lista */
.nav-item {
  padding: 0 10px; /* Añade espacio interno */
  text-decoration: none;
}



.navbar-logo {
  height: 100px; /* Ajusta la altura del logo */
  margin-right: 2px; /* Espacio entre el logo y el texto */
  height: 60px; /* Ajusta la altura del logo */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.navbar-heading {
  margin: 0; /* Elimina el margen predeterminado del h2 */
}

.navbar-button {
  padding: 10px 15px; /* Ajusta el relleno del botón */
  color: var(--colorBlanco); /* Color del texto */
  border: none; /* Sin bordes */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano cuando se pasa el ratón */
  transition: all 0.3s; /* Efecto de transición */
  font-weight: 600;
}

.btn-login {
  border: 1px solid var(--colorFuente-bordo);
  color: var(--colorFuente-bordo);
  background-color: var(--colorBlanco);
}

.btn-login:hover {
  color: var(--colorBlanco);
  background-color: var(--colorFuente-bordo);
}


.btn-register {
  background-color: var(--colorFuente-bordo); /* Color del botón */
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5); /* Color del botón */
}

.btn-register:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5); /* Color del botón */
}

/*ESTILOS FOOTER*/
footer{
  width: 100%; /* Ocupa el ancho completo */
  padding: 20px; /* Relleno */
  background-color: var(--colorBlanco); /* Color de fondo */
  position: relative;
  z-index: 1000;
}
.footer-content {

  display: flex; /* Usa Flexbox para distribuir elementos */
  justify-self: baseline;/* Alinea el contenido a los lados opuestos */
  align-items: center; /* Alinea verticalmente */

}

.footer-left {
  padding: 1%;
  width: 25%;
  display: flex;
  flex-direction: column; /* Distribuye en columna */
  align-items: center; /* Alinea al centro */
  border-right: 5px solid #000;
  border-radius: 8px;
}

.footer-logo-large {
  height: 180px; /* Tamaño del logo principal */
  width: 180px;
}

.footer-text {
  font-size: 25px;
  font-weight: bold;
  margin-top: -25px; /* Espacio entre el logo y el texto */
  text-align: center; /* Centra el texto */
}

.footer-socials {
  display: flex; /* Distribuye las imágenes de los logotipos en línea */
  margin-top: 10px; /* Espacio entre el texto y los iconos */
  justify-content: center; /* Centra los iconos */
}

.footer-logo {
  height: 80px; /* Ajusta el tamaño del logo */
  margin: 0 3px; /* Espacio entre los iconos */
  cursor: pointer; /* Cambia el cursor para hacer clic */
  transition: transform 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-logo:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}


.footer-right {
  width: 75%;
  margin-left: 10%;
  font-family: var(--fontGordita);
  display: flex;
  flex-direction: column;
}
.footer-lists {
  display: flex; /* Usa flexbox para alinear las listas una al lado de la otra */
  justify-content: space-around;
  margin-bottom: 5%;
}
.footer-list {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0;
  margin: 0 20px; /* Espacio entre las listas */
  font-weight: bold;
}

.footer-list li {
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  cursor: pointer; /* Cambia el cursor para hacer clic */
  transition: color 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-list li:hover {
  color: #007BFF; /* Color al pasar el cursor */
}
.footer-divider {
  width: 30%; /* El 30% del ancho de footer-right */
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 20px auto; /* Margen superior e inferior, centrado horizontalmente */
}

.footer-ingredients {
  width: 100%; /* Ancho completo de footer-right */
  text-align: center; /* Texto centrado */
}

.footer-ingredients p {
  margin: 0; /* Sin margen */
}
.footer-horizontal-line {
  width: 100%; /* Ocupa el ancho completo de footer-right */
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 5px 0; /* Margen superior e inferior */
}

.footer-additional {
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
}

.footer-additional p {
  font-size: 14px; /* Tamaño de fuente del texto adicional */
}

.footer-additional a {
  color: #000; /* Color de los enlaces */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  margin: 0 10px; /* Espacio entre los enlaces */
  transition: color 0.3s; /* Efecto de transición de color */
}

.footer-additional a:hover {
  color: #007BFF; /* Color al pasar el cursor sobre los enlaces */
}

/****ESTILOS HOME*****/
.home {
  background-color: #171D2B;
  align-items: center;
  /* margin-top: 60px; */
  height: 100%;

}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 10px;
  margin-bottom: 10%;

}

.card {
  perspective: 1000px; /* Añade perspectiva para el efecto de giro */
  text-decoration: none;
  color: black;
}

.card-front, .card-back {
  width: 325px;
  height: 549px; /* Altura fija para las tarjetas */
  border-radius: 10px;
  text-align: center;
  background-color: #f5f5f5;
  backface-visibility: hidden; /*Oculta el reverso al girar*/
  transition: transform 0.6s;
  position: absolute;
}

.card-front {
  background-size: cover; /* Ajusta la imagen de fondo */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color del texto */
  padding: 15px;
}

.card-front h1 {
  /* position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding-left: 10px;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg); /* Posición inicial del reverso */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5ead0; /* Color de fondo del reverso */
  color: #ad793f;
  font-size: 120%;
  font-weight: 600;
}

.card:hover .card-front {
  transform: rotateY(180deg); /* Gira el frente al pasar el mouse */
}

.card:hover .card-back {
  transform: rotateY(360deg); /* Gira el reverso al pasar el mouse */
}

.card {
  position: relative;
  width: 321px;
  height: 549px;
  transform-style: preserve-3d;
}

.bordelindo {
  border: 1px solid var(--colorFuente-Gold);
}

/****ESTILO CARD RECETAS****/
.recipe-card {
  perspective: 1000px; /* Añade perspectiva para el efecto de giro */
  text-decoration: none;
  color: black;
  position: relative;
  width: 250px; /* Ancho fijo para tarjetas */
  height: 300px; /* Altura fija para tarjetas */
  transform-style: preserve-3d;
}

.recipe-card-title {
  font-family: var(--fontGordita);
}

.recipe-card-front, .recipe-card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio interno */
  text-align: center; /* Centra el contenido */
  background-color: #f5f5f5; /* Color de fondo */
  backface-visibility: hidden; /* Oculta el reverso al girar */
  transition: transform 0.6s;
  position: absolute; /* Posiciona las caras de la tarjeta en el mismo lugar */
  top: 0; /* Alinea la parte superior de ambas caras */
  left: 0; /* Alinea la parte izquierda de ambas caras */
}

.recipe-card-front {
  background-size: cover; /* Ajusta la imagen de fondo */
  background-position: center;
  display: flex;
  align-items: flex-end; /* Alinea el título en la parte inferior */
  justify-content: flex-start; /* Alinea el título a la izquierda */
  color: white; /* Color del texto */
}

.recipe-card-front h3 {
  position: absolute;
  bottom: 10px;
  left: 10px; /* Posiciona el título a la izquierda */
  margin: 0;
}

.recipe-card-back {
  transform: rotateY(180deg); /* Posición inicial del reverso */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #731627; /* Color de fondo del reverso */
  flex-direction: column; /* Apila el contenido en columna */
}

.recipe-card:hover .recipe-card-front {
  transform: rotateY(180deg); /* Gira el frente al pasar el mouse */
}

.recipe-card:hover .recipe-card-back {
  transform: rotateY(360deg); /* Gira el reverso al pasar el mouse */
}

.recipe-card-category {
  font-size: 1rem; /* Tamaño de fuente para la categoría */
  color: #EFB810; /* Color del texto para la categoría */
  margin-bottom: 10px; /* Espacio entre la categoría y la descripción */
}

.recipe-card-description {
  font-size: 0.9rem; /* Tamaño de fuente para la descripción */
  color: #EFB810; /* Color del texto para la descripción */
}




/*ESTILOS SECCION RECOMENDADOS*/
.recommended-section {
  margin-top: 2%;
  padding: 2% 10% 4% 10%;
  background-color:var(--colorFondo-hueso);
}
.recommended-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cinco columnas */
  gap: 10px; /* Espacio entre tarjetas */
}

/* *Esta parte no es necesaria se puede llegar a quitar
.recommended-section {
  display: grid; Usar CSS Grid en lugar de Flexbox
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); Distribuir automáticamente las tarjetas en columnas de al menos 250px de ancho
  gap: 20px; Espacio entre tarjetas
  padding: 20px; Espacio interno para la sección
}
*/

.titulo-recomendados{
  margin-bottom: 3%;
  margin-left: 1%;
}

/*ESTILO BARRA BUSQUEDA*/

.search-bar {
  display: flex; /* Flexbox para alinear elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 40px auto; /* Margen para el contenedor */
  margin-bottom: 70px;
}

.search-bar-container {
  position: relative; /* Posiciona el contenedor relativamente */
  width: 550px; /* Ancho del contenedor */
}

.search-bar input::placeholder {
  color: #d8d6d6; /* Cambia el color del texto del placeholder */
  opacity: 100%; /* Asegúrate de que la opacidad esté al 100% */
}

.search-bar input {
  background-color: var(--colorFondo-secundario);
  width: 100%; /* El campo de entrada ocupa todo el ancho del contenedor */
  padding: 10px 40px 10px 10px; /* Espacio interno con espacio para el botón */
  border: none;
  border-radius: 30px; /* Bordes redondeados */
  outline: none; /* Quita el contorno azul al enfocar */
  transition: all 0.3s; /* Transición suave para efectos */
  color: #f0efef;
}

.search-bar input:hover,
.search-bar input:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor o enfocar */
}

.search-button {
  position: absolute; /* Posiciona el botón absolutamente */
  right: 1px; /* Desplaza el botón hacia la derecha */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta la posición vertical */
  background-color: #f1f1f1; /* Color de fondo del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Hace el botón circular */
  width: 36px; /* Ancho del botón */
  height: 36px; /* Alto del botón */
  display: flex; /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: all 0.3s; /* Transición suave */
}

.search-button:hover {
  transform: translateY(-50%) scale(1.1); /* Efecto al pasar el cursor */
}

.search-icon {
  width: 25px; /* Ajusta el tamaño del ícono */
  height: 25px; /* Ajusta el tamaño del ícono */
}
.suggestions {
  position: absolute;
  width: 100%;
  background-color: var(--colorFondo-hueso);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
  color: var(--colorFondo-primario);
  font-family: var(--fontMinuscula);
  font-weight: 500;
  z-index: 1000;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: var(--colorFondo-secundario);
}

.suggestion-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Estilos para las tarjetas de categorías */
.category-container {
  background-image: url('/Images/Fondo-oscuro.png'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
}

.category-title {
  font-size: 2rem;
  color:var(--colorGris-Claro);
  padding-left: 2%;
  margin-bottom: 20px;
}
.title-container h1::after {
  content: "";
  display: inline-block;
  width: 280px; /* Ajusta el ancho según sea necesario */
  height: 3px; /* Ajusta la altura según sea necesario */
  background-color: var(--colorFuente-Gold);
  margin-left: 15px; /* Espacio entre el texto y la línea */
  box-shadow: 0 2px 4px rgba(246, 243, 243, 0.2); /* Sombra inferior */
  vertical-align: middle;
}

.category-recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px;
  padding: 20px;
}

.card-categoria {
  display: flex;
  flex-direction: row;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: left;
  height: 100%;
}

.card-categoria-link {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.card-categoria-image-wrapper,
.card-categoria-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-categoria-image-wrapper {
  border-right: 1px solid #ccc;
}

.card-categoria-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-categoria-content {
  padding: 15px;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: var(--colorFondo-hueso);
}

.card-categoria-title {
  color: var(--colorFondo-primario);
}

.card-categoria-nutrition {
  font-weight: bold;
  font-family: var(--fontMinuscula);
  width: 100%;
  color:darkgreen;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-categoria-description {
  font-size: 0.9rem;
  color: #555;
}

.card-categoria-description span {
  display: inline-block;
  padding: 3%;
  margin-left: 15%;
  font-size: 1rem;
  color: var(--colorFondo-primario);
  font-family: var(--fontMinuscula);

}
.card-categoria-button {

  align-self: flex-end;
  margin-top: auto;
  background-color: var(--colorFuente-bordo);
  color: var(--colorBlanco);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: var(--fontMinuscula);
}

.card-categoria-button:hover {
  background-color: var(--colorFondo-secundario);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.pagination::before,
.pagination::after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: var(--colorFuente-Gold);
  max-width: 20%;
}

.pagination::before {
  margin-right: 10px;
}

.pagination::after {
  margin-left: 10px;
}

.nav-button-category {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--colorFondo-primario); /* Color de las flechas */
  font-size: 18px;
  margin: 10px;
  font-family: var(--fontGordita);
  font-weight: bold;
}

.nav-button-category i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: var(--colorFondo-primario);
  margin-right: 5px; /* Espacio entre la flecha y el texto */
  background-color: var(--colorGris-Claro);
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.nav-button-category i:hover {
  background-color: var(--colorFondo-secundario);
}

.page-number {

  color: var(--colorGris-Claro);
  background-color: var(--colorFondo-primario);
  border: 5px solid var(--colorGris-Claro);
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px; /* Ancho mínimo para el cuadro */
  max-height: 50px;
  font-size: 2rem;
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* *SECCION DETALLE */
.detail {
  padding: 1% 5% 5% 5%;
  background-image: url('/Images/Fondo-claro.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}
.name-container {
  color: var(--colorFondo-primario);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.button-back{
  background-color: var(--colorFuente-bordo);
  color: var(--colorBlanco);
  border-radius: 10px;
  width: 15%;
  opacity: 0.8;


}
.button-back:hover {
  background-color: var(--colorBlanco); /* Cambia el fondo al color blanco al pasar el cursor */
  color: var(--colorFuente-bordo); /* Cambia el texto al color original */
}
.fav-container{
  display: flex;
  gap: 2%;

}

.fav-button, .button-share {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: var(--colorFuente-bordo);
  font-size: 3rem; /* Tamaño del icono */
  cursor: pointer;
  margin-left: 1rem; /* Espacio entre el icono y el nombre */
  transition: transform 0.3s ease; /* Transición suave */
}

.fav-button:hover, .button-share:hover {
  transform: scale(1.1); /* Aumenta el tamaño a 110% */
}

.recipe-img-container {
  margin-bottom: 5%;
  margin-top: 5%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease; /* Transición suave de opacidad */
  cursor: pointer;
}

.recipe-img:hover {
  opacity: 0.8; /* Reducir la opacidad al pasar el cursor */
}




.img-1 {
  grid-column: 1 / 3;
  grid-row: 1 / -1;

}

.img-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

}

.img-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.img-4 {
  grid-column: 3 / 4;
  grid-row: 2 / -1;

}

.img-5 {
  grid-column: 4 / 5;
  grid-row: 2 / -1;

}

.ver-mas {
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.8));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave para la transformación */

}

.ver-mas:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.carousel-popup {
  position: relative;
  width: 80%;
  height: 80%;
  background: var(--colorFondo-primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-popup img{
  max-width: 70%;
 }

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2%;
  height: 4%;
  background: var(--colorFuente-Gold);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
.close-button:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
  background-color: var(--colorFondo-hueso); /* Cambia el color de fondo al pasar el cursor */
}

.carousel.carousel-slider .control-arrow {
  top: 47%;
}

.details-container {
  margin-bottom: 60px;
  color: var(--colorFondo-primario);
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 2%;
}
.ingredientes{
  display: flex;
  flex-direction: column;
}
.ingredientes p{
  font-family: var(--fontMinuscula);
}
.main-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.recipe-detail-data {
  font-size: 28px;
  text-align: left;
}
.recipe-detail-data p{
  font-family: var(--fontMinuscula);
}

.side-details-container {
  align-items: center;
  color: var(--colorFondo-hueso);
  font-size: 28px;
  grid-column: 3 / -1;
  background-color: var(--colorFondo-primario); /* Fondo azul */
  padding: 20px; /* Añadir padding para el contenido */
  position: relative; /* Necesario para el pseudo-elemento */
  max-height: 90%;
  text-align: center;
  max-width: 45%;
}



.side-details-container::before {
  content: "";
  position: absolute;
  top: 12px; /* Ajusta para centrar verticalmente */
  left: 12px; /* Ajusta para centrar horizontalmente */
  right: 12px; /* Ajusta para centrar horizontalmente */
  bottom: 12px; /* Ajusta para centrar verticalmente */
  border: 2px solid var(--colorFuente-Gold); /* Línea dorada */
  pointer-events: none; /* Asegura que no interfiera con los eventos del ratón */
  border-radius: 10px;
}

.separator {
  height: 3px;
  width: 85%; /* Ajusta el ancho al 60% */
  display: flex;
  justify-content: center;
  background-color: var(--colorFuente-Gold); /* Línea dorada */
  margin: 20px auto; /* Espaciado alrededor de la línea y centra el elemento */
  border-radius: 80px;
}


.nutritional-details {
  text-align: center;

}

.nutritional-details ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content:center;
  gap: 30px;
}

.nutritional-details li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutritional-details li p {
  font-family:var(--fontMinuscula) ;
  margin-top: 15px;
  font-size: 18px;
  color: var(--colorFondo-hueso); /* Ajusta este color según sea necesario */
}

.nutritional-details li svg {
  margin-top: 20px;
  color: var(--colorFuente-Gold); /* Ajusta este color según sea necesario */
}

.detail-icon {
  width: 40px;
  height: 40px;
}

.week-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.week-day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey; /* Color inicial en gris */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.week-day:hover {
  background-color: lightgrey; /* Cambia a un color más claro al pasar el ratón */
}


.instructions-container {
  margin-top: 20px;
}

/* Línea dorada con sombra inferior para h1 en name-container */
.name-container h1::after {
  content: "";
  display: inline-block;
  width: 280px; /* Ajusta el ancho según sea necesario */
  height: 2px; /* Ajusta la altura según sea necesario */
  background-color: var(--colorFuente-Gold);
  margin-left: 10px; /* Espacio entre el texto y la línea */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra inferior */
  vertical-align: middle;
}

/* Línea dorada con sombra inferior para h1 en ingredientes y modo de preparación */
.ingredientes h1::after,
.instructions-container h1::after {
  content: "";
  display: inline-block;
  width: 280px; /* Ajusta el ancho según sea necesario */
  height: 2px; /* Ajusta la altura según sea necesario */
  background-color: var(--colorFuente-Gold);
  margin-left: 30px; /* Espacio entre el texto y la línea */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra inferior */
  vertical-align: middle;
}

.rating-container {
  margin-top: 5%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Ajusta el tamaño de las estrellas según sea necesario */
}

.rating-container .fa-star {
  cursor: pointer;
  transition: color 0.3s ease;
}

.rating-container .fa-star.fas {
  color: var(--colorFuente-Gold); /* Estrella llena */
}

.rating-container .fa-star.far {
  color: var(--colorFondo-primario); /* Estrella vacía */
}



.navigation-buttons{
  display: flex;
  justify-content: center;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--colorFondo-primario); /* Color de las flechas */
  font-size: 18px;
  margin: 10px;
  font-family: var(--fontGordita);
  font-weight: bold;
}

.nav-button i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: var(--colorBlanco);
  margin-right: 5px; /* Espacio entre la flecha y el texto */
  background-color: var(--colorFondo-primario);
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.nav-button:hover i {
  background-color: var(--colorFondo-secundario); /* Nuevo color de fondo al pasar el mouse */
  color: var(--colorFondo-primario); /* Nuevo color del ícono al pasar el mouse */
}

.menu-hamburguesa {
  display: none;
}

/*ESTILOS PARA REGISTRO*/
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.register-image-container {

  width: 10VH;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70VH;
}
.register-image {
  margin-left: 150%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register {

  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.register-form {
  width: 100%;
  max-width: 50%; /* Ajusta el ancho máximo del formulario según sea necesario */
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 100%;
}

input.input-error {
  border-color:var(--colorFuente-bordo);
}


.form-buttons {
  display: flex;
  justify-content: space-around;

}
.register-button, .cancel-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  box-sizing: border-box;
}
.register-button {
  background-color: var(--colorFuente-bordo);
  color: var(--colorBlanco);
}
.register-button:hover {
  background-color: var(--colorFondo-secundario);
}

.cancel-button {
  background-color: var(--colorFondo-hueso);
  color: var(--colorFondo-primario);
}

.cancel-button:hover {
  background-color: var(--colorFondo-secundario);
}
.Toastify{

  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.Toastify__toast {
  margin-top: 80%;
  max-width: 400px;
  font-size: 1rem;
}
/* Estilos para el Login */

.login {
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 80%; /* Ajusta el ancho según tu diseño */
}

.login-columns {
  border: 2px solid var(--colorFuente-Gold); /* Borde sólido de 2px con el color personalizado */
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top:5%;
  padding: 10px; /* Añade un padding para separar el contenido del borde */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.login-column {
  flex: 1;
  margin-right: 20px;
  text-align: center;

}

.login h1 {
  font-size: 10vh;
  margin-top:5% ;
  margin-bottom: 10px;
}

.login-column p {
  margin-bottom: 10px;
}

.login-column a {
  color:var(--colorFuente-Gold);
  text-decoration: none;
}

.login-column a:hover {
  text-decoration: underline;
}

.login-form {
  width: 100%;
  max-width: 100%; /* Ajusta el ancho máximo del formulario según tu diseño */
  border: 1px solid var(--colorFondo-hueso);
  border-radius: 4px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-error {
  border-color: var(--colorFondo-hueso);
}

.error-message {
  color: var(--colorFondo-hueso);
  font-size: 14px;
  margin-top: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.login-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  box-sizing: border-box;
}

.login-button {
  background-color: var(--colorFuente-bordo);
  color: var(--colorBlanco);
}

.login-button:hover {
  background-color: var(--colorFondo-secundario);
}

.cancel-button {
  background-color: var(--colorFondo-secundario);
  color: var(--colorBlanco);
}

.cancel-button:hover {
  background-color: #bbb;
}
.login-horizontal-line {
  width: 100%; /* Ocupa el ancho completo de footer-right */
  height: 1px; /* Altura de la línea */
  color: var(--colorFuente-Gold); /* Color de la línea */
  margin: 10px 10px; /* Margen superior e inferior */
}


.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ccc;
  background-color: #171D2B;
  display: flex;
  font-size: 200%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logout-button {

  color: rgb(3, 2, 2);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.mobile-nav-list {
  display: none;
}

.logout-button:hover {
  background-color: #9e3b3b;
}
.calendar-dropdown {
  width: 20%;
  position: absolute;
  top: 58%; /* Coloca el dropdown debajo del avatar */
  left: 100%;
  transform: translateX(-50%);
  background-color: var(--colorFuente-bordo);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  display: none;
  border-radius: 5px;
}

.avatar:hover .calendar-dropdown {
  display: block; /* Muestra el dropdown al hacer hover en el avatar */
}

.calendar-dropdown a {
  font-family: var(--fontMinuscula);
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: var(--colorFuente-Gold);
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.calendar-dropdown a:hover {
  background-color: #f0f0f0;
}
.root-myAccount {
  background-color: var(--colorFondo-hueso
  );
  border-radius: 10px;
  color: var(--colorFondo-primario);
  margin: 2rem 15%;
  padding: 30px;
  box-shadow: 0 4px 8px var(--colorFondo-hueso);

}

/* FAVORITOS */

.favoritos-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.favoritos-title>h3 {
  margin-top: 30px;
  padding: 20px;
  font-size: 2rem;
}

.button-card{
  margin-top: 25%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-around;
  gap: 15%;

}

.remove-button {
  align-self: flex-start;
  background-color: var(--colorFuente-bordo);
  color: var(--colorBlanco);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: var(--fontMinuscula);
}
.remove-button:hover {
  background-color: var(--colorFondo-secundario);
}

@media (max-width: 920px) {

  .nav-list, .navbar-right {
    display: none;
  }
  logo grisAzul.png
  .menu-hamburguesa {
    display: inline-block;
    position: relative;
    z-index: 20;
  }

  .mobile-nav-list{
    width: 100%;
    height: 100vh;
    font-size: 32px;
    background-color: #f5f5f5;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    z-index: 10;
  }

  .mobile-item {
    border-left: 0;
  }

  .mobile-item a:link, .mobile-item a:visited {
    color: #000;
    text-decoration: none;
  }
  .nav-item:hover,  .mobile-item:hover {
    cursor: pointer;
  }
}

/* PLANNER */

.planner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;

}

.planner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.drawer-content {
  width: 300px;
  position: absolute;
}

.week-planner {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;


}
.week-planner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.week-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.days-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.day-column {
  flex: 1 1 calc(14.285% - 16px);
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.days-container {
  display: flex;
  width: 100%;
}

.meal-area {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ccc; /* Default color */
  height: 150px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.meal-area.breakfast {
  background-color: #f44336;
}

.meal-area.lunch {
  background-color: #2196f3;
}

.meal-area.snack {
  background-color: #ff9800;
}

.meal-area.dinner {
  background-color: #4caf50;
}

.meal-area-over {
  background-color: #e0e0e0 !important;
}

/* .recipe-card {
  opacity: 1;
  background-color: #fafafa;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
} */

.recipe-card.dragging {
  opacity: 0.5;
}

.week-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.week-navigation-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-navigation-dates {
  margin: 0 16px;
}

.week-navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.week-navigation-button {
  margin-right: 8px;
}

.title-planner {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
.white-icon {
  color: #ad793f;
}

.recipecard-nutri-details {

  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px; /* Tamaño de fuente reducido para los detalles nutricionales */
}

.recipecard-nutri-details ul {
  border-left: 1px solid lightgrey;
  list-style: none;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipecard-nutri-details li {
  display: flex;
  align-items: center;
  margin-bottom: 1px; /* Espaciado más compacto */
}

.recipecard-nutri-details li p {
  margin-left: 8px;
  margin: 0; /* Eliminar márgenes para un diseño más compacto */
  font-size: 12px; /* Tamaño de fuente reducido para los detalles nutricionales */
  padding-left: 5px;
}

/* DAY COlUMN */

.day-title {
  font-weight: normal;
}

.day-title.today {
  font-weight: bold;
}

/* MEAL Area */

.meal-area-h4{
  margin-bottom: 4px;
}

/* WEEK Navigation */
.week-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.week-navigation-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.week-navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.week-button {
  cursor: pointer;
  margin-right: 8px;
  padding: 8px 16px;
  border: 1px solid #697185;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.week-button.active {
  background-color: #697185;
  color: white;

}

.week-button:hover {
  background-color: #434855;
  color: white;
}
/*estilos a terminos y condiciones modal*/
/* .modal {
  margin-top: 4%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
} */

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.terms-container {
  flex-grow: 1;
  overflow-y: auto;
}

.terms-scroll {
  margin-top: 10px;
}

.modal-content h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-close-term {
  width: 50%;
  height: 8%;
  color: var(--colorFondo-hueso);
  background-color: var(--colorFuente-bordo);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

.button-close-term:hover {
  background-color:var(--colorFondo-hueso);
  color:var(--colorFondo-primario) ;
  text-decoration: none;
}

